
.left {

	float: left;
}

.right {

	float: right;

}
.clear {

	clear: both;
	display: block;
}

.center {
	display: block;
	margin: 0px auto;
}

.text_center {

	text-align: center;
}

.hidden {

	display: none;
}

/* Home page */
#invite {

	margin: 0px 50px;
	font-size: 20px;
}

form {

	margin-bottom: 21px;

}

h3 {

	font-size: 30px;
}
/* 
#intro {

	width: 100px;
	height: 100px;

}
 */

#register, #login {

	width: 400px;
}

.link-button {

	margin-left: 20px;

}
/* -----------------Map Styles */

.world_map_wrap {

	margin-left: 40px;
	float: left;
    position:relative;
    display:block;
    overflow:hidden;
    border:3px solid #666633;
	-moz-box-shadow:	10px 10px 5px #888;
	-webkit-box-shadow:	10px 10px 5px #888;
	box-shadow:			10px 10px 5px #888;
}

.world_map_div {

    position:absolute;
    top:0;
    left:0;
    display:block;
    overflow:hidden;
}

.world_map_div img {

    position:absolute;
    top:0;
    left0;
    display:block;
}


#quiz {

	width: 900px;
}

#quiz_select {

	margin-right: 10px;
}

/* 
#quiz_select_form {

	display: block;
}
 */

#quiz_heading {

	margin-bottom: 20px;

}

#question_area {

	float: left;
	margin-left: 50px;

}

form#start_quiz_form {

	display: none;
	height: 0;
}

#bottom_buttons {

	clear: both;
}

	form#stop_quiz_form, form#start_over_quiz_form {

		display: none;
		height: 0;
		float: left;
	}


#question_box {
	
	opacity: 0;
	height: 130px;
	width: 250px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #cccc99;
	border: 2px solid #666633;
	clear: both;
	-moz-box-shadow:	10px 10px 5px #888;
	-webkit-box-shadow:	10px 10px 5px #888;
	box-shadow:			10px 10px 5px #888;

}


#country_in_question {
	
	margin: 10px;
	font-size: 30px;
	font-weight: bold;

}

#flag_division {

	height: 0;
	clear: both;
	display: none;
}

#flag_area {
	-moz-box-shadow:	10px 10px 5px #888;
	-webkit-box-shadow:	10px 10px 5px #888;
	box-shadow:			10px 10px 5px #888;
}



#scores {

	width: 500px;
}


	table {
		width: 400px;
		margin: 0px auto;
	}


	td, th {
	
		padding: 10px;
		text-align: center;
	}

	th {
		border-bottom: 2px solid black;
		font-weight: bold;
	}

#score_stats {

	margin: 10px 0px;
	font-size: 12px;
}

#correct_questions{

	float: left;
	height: 40px;
}

#percent {

	float: right;
	font-size: 25px;
}

#welcome, #game_save_message {

	font-size: 20px;
	margin-bottom: 10px;
}








