@import url('reset.css');

@import url('widgets.css');

@import url('elements.css');

@import url('comments.css');

/*
* Folder v1.0
*
*/
/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* IMPORT ------------------------------------------------------------*/
/* aditional */
/* Fonts ----------------------------------------------------*//* Here you go ie */
@font-face {
  font-family: 'mensch';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/mensch-webfont.eot');
}
/* For real web browsers */
@font-face {
  font-family: 'mensch';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/mensch-webfont.ttf');
}
/* GENERAL ------------------------------------------------------------*/
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.wrapper {
  margin: 0 auto;
  width: 940px;
/*   position: relative; */
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background: #95c9c3 url(../img/grunge.png) repeat-x center 150px;
}
body a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body p {
  margin-bottom: 21px;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  font-family: mensch;
  line-height: 1.3em;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
/* HEADER ----------------------------------------------------*/header {
  background: url(../img/header.png);
  min-height: 150px;
}
header #logo div {
  display: block;
  margin: 30px auto;
}
/* NAVIGATION ------------------------------------------------------------*/
nav {
  height: 68px;
  float: left;
  width: 100%;
  margin-top: 0px;
  position: relative;
  background: url(../img/ribbon.png) no-repeat top center;
}
#nav {
  clear: left;
  display: block;
  float: right;
  position: relative;
  right: 50%;
  text-align: center;
}
#nav > li {
  display: block;
  float: left;
  position: relative;
  left: 50%;
  font-family: mensch;
  word-spacing: -0.1em;
  font-size: 20px;
  /* sub navigation -----------------------------------------------------*/

}

#nav > li.current-menu-item i,
#nav > li.current_page_item i {
  display: block;
}

#nav > li a {
  display: block;
  padding: 20px 10px 0px 10px;
  color: #f3e4c8;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

#nav > li a:hover i {
  display: block;
}

#nav > li a i {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: -4px;
}

#nav > li a i b {
  position: absolute;
  display: block;
   background: url('../img/sprite-s79b5a142cb.png') no-repeat 0 -324px;
  width: 16px;
  height: 16px;
  left: -8px;
}

#nav > li ul {
  font-size: 14px;
  font-family: Tahoma;
  text-align: left;
  margin-top: 19px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
#nav > li ul li {
  border-top: 1px solid #a03a26;
  border-bottom: 1px solid #812f1e;
}
#nav > li ul li a {
  padding: 15px;
  background: #963724;
}
#nav > li ul li a:hover {
  background: #a03a26;
}
#nav > li ul li:last-child {
  border-bottom: none;
}
/* COMBO NAVIGATION ------------------------------------------------------------*/
#comboNav {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  float: left;
}
/* MAIN ----------------------------------------------------*/#main .wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  min-height: 500px;
  color: #444;
  font-size: 16px;
  line-height: 1.5em;
}
/* HEALINE ----------------------------------------------------*/.headline {
  color: #cb5432;
  text-align: center;
  font-family: mensch;
  font-size: 48px;
  line-height: 1.3em;
  word-spacing: -0.1em;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}
/* FEATURE ----------------------------------------------------*/.feature {
  width: 960px;
  margin-left: -20px;
}
.feature li {
  position: relative;
  background: #f3e4c8;
  width: 300px;
  margin-bottom: 50px;
  margin-left: 20px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
.feature li .thumb {
  display: block;
  margin: 10px;
  width: 280px;
}
.feature li .thumb img {
  max-width: 100%;
}
.feature li .caption {
  padding: 10px 10px 20px 10px;
  text-align: center;
}
.feature li a {
  color: #cb5432;
}
.feature li .thumb {
  position: relative;
}
.feature li .thumb .date {
  position: absolute;
  bottom: -25px;
  left: 110px;
  display: block;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
  height: 50px;
  width: 60px;
  background: #f3e4c8;
  float: left;
  font-family: mensch;
  padding-top: 10px;
}
.feature li .thumb .date span {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
/* PAGE CONTENT ----------------------------------------------------*/.page-content {
  position: relative;
  background: #f3e4c8;
  color: #585246;
  padding: 50px 30px 60px 30px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
.page-content .heading {
  border-bottom: 5px solid #585246;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.page-content .c-1,
.page-content .c-2,
.page-content .c-3,
.page-content .c-4 {
  position: absolute;
  width: 48px;
  height: 50px;
	background: url('../img/sprite-s79b5a142cb.png') no-repeat;
}
.page-content .c-1 {
  top: -5px;
  left: -5px;
  background-position: 0 -224px;
}
.page-content .c-2 {
  top: -5px;
  right: -5px;
  background-position: 0 -174px;
}
.page-content .c-3 {
  bottom: -5px;
  left: -5px;
   background-position: 0 -124px;
}
.page-content .c-4 {
  bottom: -5px;
  right: -5px;
   background-position: 0 -274px;
}
/* CONTACT ------------------------------------------------------------*/
#map_canvas {
  display: block;
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}
/* PORTFOLIO ----------------------------------------------------*/
.portfolio-content {
  margin-bottom: 40px;
}
.portfolio-content .project-content {
  float: left;
  width: 660px;
}
.portfolio-content .project-info {
  float: right;
  width: 160px;
  font-size: 14px;
  padding-left: 30px;
  border-left: 1px solid #585246;
}
.portfolio-content .project-info p {
  margin-bottom: 10px;
}
.portfolio-content .project-info strong {
  font-weight: bold;
  display: block;
}
.portfolio-content .project-info a {
  color: #cb5432;
}
/* RELATED PROJECTS ------------------------------------------------------------*/
.related-projects {
  margin-bottom: 80px;
}
.related-projects .related-heading {
  text-align: center;
  margin-bottom: 10px;
}
.related-projects a {
  color: #444444;
}
.related-projects .related-list li {
  float: left;
  width: 300px;
  text-align: center;
  margin-right: 20px;
}
.related-projects .related-list li .thumb {
  background: #f3e4c8;
  padding: 10px;
  display: block;
  line-height: 0em;
  margin-bottom: 10px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
.related-projects .related-list li .thumb img {
  max-width: 100%;
}
.related-projects .related-list li:last-child {
  margin-right: 0px;
}
/* ENTRY CONTENT ------------------------------------------------------------*/
.entry-content a {
  color: #cb5432;
}
.entry-content strong {
  font-weight: bold;
}
.entry-content ul,
.entry-content ol {
  margin-left: 20px;
}
.entry-content ul {
  list-style: disc;
}
.entry-content ol {
  list-style: decimal;
}
/* BLOG ------------------------------------------------------------*/
#posts-list {
  position: relative;
  width: 620px;
  float: left;
}
#posts-list article {
  position: relative;
  margin-bottom: 50px;
  padding: 30px;
  background: #f3e4c8;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
#posts-list article .tape {
  position: absolute;
  top: -15px;
  left: 250px;
  display: block;
  width: 122px;
  height: 35px;
  background: url(../img/tape.png) no-repeat top left;
}
#posts-list article .feature-image {
  position: relative;
  line-height: 0em;
}
#posts-list article .feature-image img {
  max-width: 100%;
}
#posts-list article .feature-image .entry-date {
  position: absolute;
  bottom: -66px;
  right: 0px;
  width: 51px;
  height: 66px;
  background: url(../img/date.png) no-repeat top left;
  font-family: mensch;
  font-size: 20px;
  line-height: 1.1em;
  text-align: center;
  color: #f3e4c8;
}
#posts-list article .feature-image .entry-date .month {
  margin-top: 7px;
}
#posts-list article .excerpt {
  margin-top: 40px;
  color: #585246;
}
#posts-list article .excerpt .post-heading {
  font-family: mensch;
  font-size: 36px;
  line-height: 1.1em;
  color: #585246;
  display: block;
  max-width: 480px;
}
#posts-list article .meta {
  display: block;
  border-top: 1px solid #585246;
  font-size: 14px;
  padding-top: 10px;
}
#posts-list article .meta a {
  color: #cb5432;
}
/* PAGE NAVIGATION ------------------------------------------------------------*/
#main .page-navigation {
  position: relative;
  left: 50%;
  display: block;
  margin-bottom: 100px;
  float: left;
}
#main .page-navigation div {
  position: relative;
  right: 50%;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
#main .page-navigation div span {
  margin-bottom: 15px;
  display: inline-block;
}
#main .page-navigation a {
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #cb5432;
  display: block;
  padding: 10px 15px;
}
#main .page-navigation .nav-next {
  float: left;
  margin-right: 20px;
  background: #f3e4c8 url(../img/arrow-left.png) no-repeat left 12px;
  padding-left: 20px;
}
#main .page-navigation .nav-previous {
  float: right;
  background: #f3e4c8 url(../img/arrow-right.png) no-repeat right 12px;
  padding-right: 20px;
}
/* SIDEBAR ------------------------------------------------------------*/
#sidebar {
  position: relative;
  width: 260px;
  float: right;
  font-size: 14px;
}
#sidebar .block {
  margin-bottom: 40px;
  padding-bottom: 5px;
}
#sidebar .heading {
  border-top: 5px solid #444444;
  border-bottom: 5px solid #444444;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 1.1em;
  text-align: center;
}
#sidebar li {
  margin-bottom: 7px;
}
#sidebar a {
  color: #cb5432;
}
/* FILTERED ITEMS ----------------------------------------------------*/.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
#filter-buttons {
  text-align: center;
  background: url(../img/filter.png) no-repeat top center;
  height: 47px;
  margin-bottom: 20px;
}
#filter-buttons li {
  display: inline-block;
  margin-bottom: 0px;
}
#filter-buttons li a {
  display: block;
  text-decoration: none;
  margin-bottom: 0px;
  margin-right: 5px;
  line-height: 47px;
  color: #cb5432;
}
#filter-buttons li .selected {
  background: url(../img/filter-arrow.png) no-repeat center top;
}
/* COLUMNS LAYOUT----------------------------------------------------------*/
.one-half,
.one-third,
.one-fourth {
  float: left;
  margin-bottom: 40px;
  margin-right: 2.1276%;
  position: relative;
}
.one-half {
  width: 48.9361%;
}
.one-third {
  width: 31.9148%;
}
.one-fourth {
  width: 23.4042%;
}
.last {
  clear: right;
  margin-right: 0 !important;
}
/* FOOTER ----------------------------------------------------*/footer {
  background: #585246 url(../img/footer.png) repeat-x;
  color: #f3e4c8;
  padding-bottom: 60px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #cb5432;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  color: #f9f5ed;
  font-family: mensch;
  word-spacing: -0.1em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
  line-height: 1.3em;
}
footer .sb-holder {
  position: relative;
  left: 50%;
  text-align: center;
  float: left;
}
footer #social-bar {
  display: block;
  position: relative;
  float: left;
  right: 50%;
  margin: -7px 5px 0px 5px;
  background: url(../img/social-bg.png) repeat-x;
  height: 46px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
footer #social-bar li {
  float: left;
  line-height: 1em;
  margin-left: 3px;
  margin-right: 3px;
}
footer #social-bar li a {
  display: block;
  line-height: 0em;
}
footer #social-bar li a:hover {
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}
footer #social-bar .left-corner {
  position: absolute;
  top: 0px;
  left: -10px;
  display: block;
  width: 10px;
  height: 18px;
  background: url(../img/social-left-corner.png) no-repeat left top;
}
footer #social-bar .right-corner {
  position: absolute;
  top: 0px;
  right: -13px;
  display: block;
  width: 10px;
  height: 18px;
  background: url(../img/social-right-corner.png) no-repeat left top;
}
footer #footer-bottom {
  font-size: 14px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 25px;
}
/* WIDGET COLS ------------------------------------------------------------*/
.widget-cols {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 14px;
}
.widget-cols h1,
.widget-cols h2,
.widget-cols h3,
.widget-cols h4,
.widget-cols h5,
.widget-cols h6 {
  margin-bottom: 20px;
  font-weight: normal;
  text-align: center;
  border-bottom: 0px solid #ada18e;
  border-top: 0px solid #ada18e;
  padding-top: 0px;
  padding-bottom: 0px;
}
.widget-cols > li {
  width: 220px;
  float: left;
  margin-right: 20px;
}
.widget-cols > li.fourth-col {
  margin-right: 0px;
}

.sprite-hand {
	height: 74px;
	width: 191px;
  background: url('../img/sprite-s79b5a142cb.png') no-repeat 0 0;
}

.sprite-logo {
	height: 50px;
	width: 495px;
  background: url('../img/sprite-s79b5a142cb.png') no-repeat 0 -74px;
}


/* line 1834, flags/*.png */
.flags-sprite, .flags-Fiji, .flags-Syria, .flags-Tibet, .flags-UAE, .flags-ad, .flags-af, .flags-ag, .flags-ai, .flags-al, .flags-am, .flags-an, .flags-ao, .flags-ar, .flags-as, .flags-at, .flags-au, .flags-aw, .flags-az, .flags-ba, .flags-bb, .flags-bd, .flags-be, .flags-bf, .flags-bg, .flags-bh, .flags-bi, .flags-bj, .flags-bm, .flags-bn, .flags-bo, .flags-br, .flags-bs, .flags-bt, .flags-bw, .flags-by, .flags-bz, .flags-ca, .flags-cd, .flags-cf, .flags-cg, .flags-ch, .flags-ci, .flags-ck, .flags-cl, .flags-cm, .flags-cn, .flags-co, .flags-cr, .flags-cs, .flags-cu, .flags-cv, .flags-cx, .flags-cy, .flags-cz, .flags-de, .flags-dj, .flags-dk, .flags-dm, .flags-do, .flags-dz, .flags-ec, .flags-ee, .flags-eg, .flags-eh, .flags-er, .flags-es, .flags-et, .flags-fi, .flags-fk, .flags-fm, .flags-fo, .flags-fx, .flags-ga, .flags-gb, .flags-gd, .flags-ge, .flags-gh, .flags-gi, .flags-gl, .flags-gm, .flags-gn, .flags-gq, .flags-gr, .flags-gs, .flags-gt, .flags-gu, .flags-gw, .flags-gy, .flags-hk, .flags-hn, .flags-hr, .flags-ht, .flags-hu, .flags-id, .flags-ie, .flags-il, .flags-in, .flags-iq, .flags-ir, .flags-is, .flags-it, .flags-jm, .flags-jo, .flags-jp, .flags-ke, .flags-kg, .flags-kh, .flags-ki, .flags-km, .flags-kn, .flags-kp, .flags-kr, .flags-kw, .flags-ky, .flags-kz, .flags-la, .flags-lb, .flags-lc, .flags-li, .flags-lk, .flags-lr, .flags-ls, .flags-lt, .flags-lu, .flags-lv, .flags-ly, .flags-ma, .flags-mc, .flags-md, .flags-me, .flags-mg, .flags-mh, .flags-mk, .flags-ml, .flags-mm, .flags-mn, .flags-mo, .flags-mq, .flags-mr, .flags-ms, .flags-mt, .flags-mu, .flags-mv, .flags-mw, .flags-mx, .flags-my, .flags-mz, .flags-na, .flags-ne, .flags-nf, .flags-ng, .flags-ni, .flags-nl, .flags-no, .flags-np, .flags-nr, .flags-nu, .flags-nz, .flags-om, .flags-pa, .flags-pe, .flags-pf, .flags-pg, .flags-ph, .flags-pk, .flags-pl, .flags-pn, .flags-pr, .flags-pt, .flags-pw, .flags-py, .flags-qa, .flags-ro, .flags-rs, .flags-ru, .flags-rw, .flags-sa, .flags-sb, .flags-sc, .flags-sd, .flags-se, .flags-sg, .flags-si, .flags-sk, .flags-sl, .flags-sm, .flags-sn, .flags-so, .flags-sr, .flags-ss, .flags-st, .flags-sv, .flags-sz, .flags-tc, .flags-td, .flags-tg, .flags-th, .flags-tj, .flags-tm, .flags-tn, .flags-to, .flags-tp, .flags-tr, .flags-tt, .flags-tv, .flags-tw, .flags-tz, .flags-ua, .flags-ug, .flags-us, .flags-uy, .flags-uz, .flags-va, .flags-vc, .flags-ve, .flags-vg, .flags-vi, .flags-vn, .flags-vu, .flags-wf, .flags-ws, .flags-ye, .flags-za, .flags-zm, .flags-zw {
  background: url(../img/flags-s1dd0a29468.png) no-repeat;
}


.flags-Fiji {
  background-position: 0 -2337px;
}


.flags-Syria {
  background-position: 0 -19188px;
}


.flags-Tibet {
  background-position: 0 -123px;
}


.flags-UAE {
  background-position: 0 -22386px;
}


.flags-ad {
  background-position: 0 -9717px;
}


.flags-af {
  background-position: 0 -2829px;
}


.flags-ag {
  background-position: 0 -10086px;
}


.flags-ai {
  background-position: 0 -3321px;
}


.flags-al {
  background-position: 0 -8118px;
}


.flags-am {
  background-position: 0 -22263px;
}


.flags-an {
  background-position: 0 -18081px;
}


.flags-ao {
  background-position: 0 -13899px;
}


.flags-ar {
  background-position: 0 -17712px;
}


.flags-as {
  background-position: 0 -492px;
}


.flags-at {
  background-position: 0 -26568px;
}


.flags-au {
  background-position: 0 -1722px;
}


.flags-aw {
  background-position: 0 -18942px;
}


.flags-az {
  background-position: 0 -15375px;
}


.flags-ba {
  background-position: 0 -3813px;
}


.flags-bb {
  background-position: 0 -16974px;
}


.flags-bd {
  background-position: 0 -16236px;
}


.flags-be {
  background-position: 0 -27429px;
}


.flags-bf {
  background-position: 0 -20787px;
}


.flags-bg {
  background-position: 0 -25584px;
}


.flags-bh {
  background-position: 0 -17466px;
}


.flags-bi {
  background-position: 0 -5781px;
}


.flags-bj {
  background-position: 0 -23370px;
}


.flags-bm {
  background-position: 0 -2583px;
}


.flags-bn {
  background-position: 0 -2460px;
}


.flags-bo {
  background-position: 0 -12300px;
}


.flags-br {
  background-position: 0 -5166px;
}


.flags-bs {
  background-position: 0 -16851px;
}


.flags-bt {
  background-position: 0 -1599px;
}


.flags-bw {
  background-position: 0 -23001px;
}


.flags-by {
  background-position: 0 -9471px;
}


.flags-bz {
  background-position: 0 -3690px;
}


.flags-ca {
  background-position: 0 -11562px;
}


.flags-cd {
  background-position: 0 -8979px;
}


.flags-cf {
  background-position: 0 -19926px;
}


.flags-cg {
  background-position: 0 -15990px;
}


.flags-ch {
  background-position: 0 -22017px;
}


.flags-ci {
  background-position: 0 -27306px;
}


.flags-ck {
  background-position: 0 0;
}


.flags-cl {
  background-position: 0 -21033px;
}


.flags-cm {
  background-position: 0 -20910px;
}


.flags-cn {
  background-position: 0 -17958px;
}


.flags-co {
  background-position: 0 -23124px;
}


.flags-cr {
  background-position: 0 -23739px;
}


.flags-cs {
  background-position: 0 -15498px;
}


.flags-cu {
  background-position: 0 -11193px;
}


.flags-cv {
  background-position: 0 -6888px;
}


.flags-cx {
  background-position: 0 -2952px;
}


.flags-cy {
  background-position: 0 -13161px;
}


.flags-cz {
  background-position: 0 -18204px;
}


.flags-de {
  background-position: 0 -24354px;
}


.flags-dj {
  background-position: 0 -13653px;
}


.flags-dk {
  background-position: 0 -22632px;
}


.flags-dm {
  background-position: 0 -6642px;
}


.flags-do {
  background-position: 0 -22755px;
}


.flags-dz {
  background-position: 0 -12423px;
}


.flags-ec {
  background-position: 0 -7872px;
}


.flags-ee {
  background-position: 0 -23862px;
}


.flags-eg {
  background-position: 0 -20172px;
}


.flags-eh {
  background-position: 0 -11316px;
}


.flags-er {
  background-position: 0 -4551px;
}


.flags-es {
  background-position: 0 -24108px;
}


.flags-et {
  background-position: 0 -9225px;
}


.flags-fi {
  background-position: 0 -22140px;
}


.flags-fk {
  background-position: 0 -1845px;
}


.flags-fm {
  background-position: 0 -11439px;
}


.flags-fo {
  background-position: 0 -21525px;
}


.flags-fx {
  background-position: 0 -26814px;
}


.flags-ga {
  background-position: 0 -23247px;
}


.flags-gb {
  background-position: 0 -861px;
}


.flags-gd {
  background-position: 0 -5535px;
}


.flags-ge {
  background-position: 0 -11931px;
}


.flags-gh {
  background-position: 0 -20664px;
}


.flags-gi {
  background-position: 0 -9594px;
}


.flags-gl {
  background-position: 0 -16605px;
}


.flags-gm {
  background-position: 0 -24600px;
}


.flags-gn {
  background-position: 0 -25707px;
}


.flags-gq {
  background-position: 0 -12546px;
}


.flags-gr {
  background-position: 0 -21402px;
}


.flags-gs {
  background-position: 0 -2706px;
}


.flags-gt {
  background-position: 0 -11685px;
}


.flags-gu {
  background-position: 0 -10209px;
}


.flags-gw {
  background-position: 0 -20049px;
}


.flags-gy {
  background-position: 0 -4920px;
}


.flags-hk {
  background-position: 0 -10947px;
}


.flags-hn {
  background-position: 0 -20541px;
}


.flags-hr {
  background-position: 0 -8241px;
}


.flags-ht {
  background-position: 0 -24231px;
}


.flags-hu {
  background-position: 0 -25953px;
}


.flags-id {
  background-position: 0 -27183px;
}


.flags-ie {
  background-position: 0 -25215px;
}


.flags-il {
  background-position: 0 -15867px;
}


.flags-in {
  background-position: 0 -14268px;
}


.flags-iq {
  background-position: 0 -14391px;
}


.flags-ir {
  background-position: 0 -3567px;
}


.flags-is {
  background-position: 0 -21771px;
}


.flags-it {
  background-position: 0 -27060px;
}


.flags-jm {
  background-position: 0 -4305px;
}


.flags-jo {
  background-position: 0 -13038px;
}


.flags-jp {
  background-position: 0 -18573px;
}


.flags-ke {
  background-position: 0 -10578px;
}


.flags-kg {
  background-position: 0 -6027px;
}


.flags-kh {
  background-position: 0 -8733px;
}


.flags-ki {
  background-position: 0 -369px;
}


.flags-km {
  background-position: 0 -6519px;
}


.flags-kn {
  background-position: 0 -6150px;
}


.flags-kp {
  background-position: 0 -12915px;
}


.flags-kr {
  background-position: 0 -7380px;
}


.flags-kw {
  background-position: 0 -19311px;
}


.flags-ky {
  background-position: 0 -1353px;
}


.flags-kz {
  background-position: 0 -1230px;
}


.flags-la {
  background-position: 0 -19065px;
}


.flags-lb {
  background-position: 0 -12177px;
}


.flags-lc {
  background-position: 0 -9963px;
}


.flags-li {
  background-position: 0 -12669px;
}


.flags-lk {
  background-position: 0 -738px;
}


.flags-lr {
  background-position: 0 -17589px;
}


.flags-ls {
  background-position: 0 -6396px;
}


.flags-lt {
  background-position: 0 -22509px;
}


.flags-lu {
  background-position: 0 -25338px;
}


.flags-lv {
  background-position: 0 -22878px;
}


.flags-ly {
  background-position: 0 -18450px;
}


.flags-ma {
  background-position: 0 -17343px;
}


.flags-mc {
  background-position: 0 -26691px;
}


.flags-md {
  background-position: 0 -7257px;
}


.flags-me {
  background-position: 0 -5289px;
}


.flags-mg {
  background-position: 0 -24846px;
}


.flags-mh {
  background-position: 0 -1107px;
}


.flags-mk {
  background-position: 0 -1476px;
}


.flags-ml {
  background-position: 0 -25461px;
}


.flags-mm {
  background-position: 0 -8856px;
}


.flags-mn {
  background-position: 0 -14883px;
}


.flags-mo {
  background-position: 0 -5904px;
}


.flags-mq {
  background-position: 0 -26937px;
}


.flags-mr {
  background-position: 0 -13284px;
}


.flags-ms {
  background-position: 0 -4059px;
}


.flags-mt {
  background-position: 0 -19803px;
}


.flags-mu {
  background-position: 0 -24723px;
}


.flags-mv {
  background-position: 0 -19557px;
}


.flags-mw {
  background-position: 0 -15006px;
}


.flags-mx {
  background-position: 0 -7011px;
}


.flags-my {
  background-position: 0 -6765px;
}


.flags-mz {
  background-position: 0 -10824px;
}


.flags-na {
  background-position: 0 -4428px;
}


.flags-ne {
  background-position: 0 -21279px;
}


.flags-nf {
  background-position: 0 -5412px;
}


.flags-ng {
  background-position: 0 -24969px;
}


.flags-ni {
  background-position: 0 -15252px;
}


.flags-nl {
  background-position: 0 -23493px;
}


.flags-no {
  background-position: 0 -21648px;
}


.flags-np {
  background-position: 0 -7134px;
}


.flags-nr {
  background-position: 0 -15129px;
}


.flags-nu {
  background-position: 0 -4182px;
}


.flags-nz {
  background-position: 0 -3444px;
}


.flags-om {
  background-position: 0 -11070px;
}


.flags-pa {
  background-position: 0 -17220px;
}


.flags-pe {
  background-position: 0 -26076px;
}


.flags-pf {
  background-position: 0 -10455px;
}


.flags-pg {
  background-position: 0 -8487px;
}


.flags-ph {
  background-position: 0 -7503px;
}


.flags-pk {
  background-position: 0 -14145px;
}


.flags-pl {
  background-position: 0 -26322px;
}


.flags-pn {
  background-position: 0 -246px;
}


.flags-pr {
  background-position: 0 -12792px;
}


.flags-pt {
  background-position: 0 -7626px;
}


.flags-pw {
  background-position: 0 -15621px;
}


.flags-py {
  background-position: 0 -17097px;
}


.flags-qa {
  background-position: 0 -13530px;
}


.flags-ro {
  background-position: 0 -25092px;
}


.flags-rs {
  background-position: 0 -5043px;
}


.flags-ru {
  background-position: 0 -23616px;
}


.flags-rw {
  background-position: 0 -10701px;
}


.flags-sa {
  background-position: 0 -3936px;
}


.flags-sb {
  background-position: 0 -2214px;
}


.flags-sc {
  background-position: 0 -4674px;
}


.flags-sd {
  background-position: 0 -16482px;
}


.flags-se {
  background-position: 0 -21894px;
}


.flags-sg {
  background-position: 0 -15744px;
}


.flags-si {
  background-position: 0 -12054px;
}


.flags-sk {
  background-position: 0 -13407px;
}


.flags-sl {
  background-position: 0 -23985px;
}


.flags-sm {
  background-position: 0 -26445px;
}


.flags-sn {
  background-position: 0 -20418px;
}


.flags-so {
  background-position: 0 -18696px;
}


.flags-sr {
  background-position: 0 -20295px;
}


.flags-ss {
  background-position: 0 -9840px;
}


.flags-st {
  background-position: 0 -9102px;
}


.flags-sv {
  background-position: 0 -13776px;
}


.flags-sz {
  background-position: 0 -4797px;
}


.flags-tc {
  background-position: 0 -3198px;
}


.flags-td {
  background-position: 0 -25830px;
}


.flags-tg {
  background-position: 0 -19434px;
}


.flags-th {
  background-position: 0 -24477px;
}


.flags-tj {
  background-position: 0 -16359px;
}


.flags-tm {
  background-position: 0 -2091px;
}


.flags-tn {
  background-position: 0 -14022px;
}


.flags-to {
  background-position: 0 -21156px;
}


.flags-tp {
  background-position: 0 -8364px;
}


.flags-tr {
  background-position: 0 -14760px;
}


.flags-tt {
  background-position: 0 -7995px;
}


.flags-tv {
  background-position: 0 -615px;
}


.flags-tw {
  background-position: 0 -14514px;
}


.flags-tz {
  background-position: 0 -7749px;
}


.flags-ua {
  background-position: 0 -26199px;
}


.flags-ug {
  background-position: 0 -18327px;
}


.flags-us {
  background-position: 0 -3075px;
}


.flags-uy {
  background-position: 0 -10332px;
}


.flags-uz {
  background-position: 0 -11808px;
}


.flags-va {
  background-position: 0 -9348px;
}


.flags-vc {
  background-position: 0 -17835px;
}


.flags-ve {
  background-position: 0 -19680px;
}


.flags-vg {
  background-position: 0 -1968px;
}


.flags-vi {
  background-position: 0 -984px;
}


.flags-vn {
  background-position: 0 -18819px;
}


.flags-vu {
  background-position: 0 -5658px;
}


.flags-wf {
  background-position: 0 -16728px;
}


.flags-ws {
  background-position: 0 -14637px;
}


.flags-ye {
  background-position: 0 -27552px;
}


.flags-za {
  background-position: 0 -8610px;
}


.flags-zm {
  background-position: 0 -16113px;
}


.flags-zw {
  background-position: 0 -6273px;
}
